{% extends "base.html" %}

{% block content %}
    <h2>Аварийный доступ</h2>
    <div>
        <form class="login_form" method="post">
            <label for="id_astronaut" class="form-label">id Астронавта</label>
            <input type="id_astronaut" class="form-control" id="id_astronaut" aria-describedby="id_astronaut" placeholder="Введите id астронавта" name="id_astronaut">
            <br>
            <label for="password_astronaut" class="form-label">Пароль Астронавта</label>
            <input type="password_astronaut" class="form-control" id="password_astronaut" aria-describedby="password_astronaut" placeholder="Введите пароль астронавта" name="password_astronaut">
            <br>
            <label for="id_captain" class="form-label">id Капитана</label>
            <input type="id_captain" class="form-control" id="id_captain" aria-describedby="id_captain" placeholder="Введите id капитана" name="id_captain">
            <br>
            <label for="password_captain" class="form-label">Пароль Капитана</label>
            <input type="password_captain" class="form-control" id="password_captain" aria-describedby="password_captain" placeholder="Введите пароль капитана" name="password_captain">
            <br>
            <button type="submit" class="btn btn-primary">Доступ</button>
        </form>
    </div>
{% endblock %}