{% extends "base.html" %}

{% block content %}
<div class="alert alert-primary" align='center' role="alert" style='color: black; background-color: MintCream; border: 1px solid MintCream; border-radius: 50px; clear: both; height: 85px;'>

</div>

{% if prof == "Инженер" %}
<div class="form-group" align='center'>
    <h2>Инженерные тренажеры</h2>
    <img src="../static/img/it.png" alt="Научные симуляторы" width=800 align='center'>
</div>
{% elif prof == "Строитель" %}
<div class="form-group" align='center'>
    <h2>Научные симуляторы</h2>
    <img src="../static/img/ns.png" alt="Научные симуляторы" width=800 align='center'>
</div>
{% else %}
<div class="form-group" align='center'>
    <h2>Другие</h2>
    <img src="../static/img/st.png" alt="Научные симуляторы" width=800 align='center'>
</div>
{% endif %}
{% endblock %}
